*{
    margin: 0;
    padding: 0px;
    font-family: sans-serif;
  }
  
  body{
    height: 100vh;
    width: 100%;
    background-image: url('/static/login-bg.png');
    background-repeat: no-repeat;
    background-color: #000;
    background-size: cover;
    background-position: center;
  }
  
  .avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
  }
  
  .loginbox{
    width: 600px; /* increase the width */
    height: 500px; /* increase the height */
    border-radius: 25px;
    background: rgba(0,0,0,0.7);
    color:white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
  }
  
  h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 32px;
  }
  
  .loginbox p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size:22px ;
  }
  
  .loginbox input{
    width: 100%;
    margin-bottom: 20px;
  }
  
  .loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    height: 40px;
    color: white;
    font-size: 26px;
  }
  
  .loginbox input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #fb2525;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
  }
  
  .loginbox input[type="submit"]:hover{
    cursor: pointer;
    background: #ffc107;
    color: #000;
  }
  
  .loginbox a{
    display: block; /* add display property */
    text-decoration: none;
    font-size: 22px;
    line-height: 20px;
    color: darkgray;
    margin-top: 30px; /* add some margin */
    text-align: center; /* center the anchor tag */
  }
  
  .loginbox a:hover{
    color: #ffc107;
  }
  
