/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Global styles */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: #000;
  color: #fff;
  overflow-x: hidden;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
  padding: 10px 20px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.logo span {
  color: #f8d617;
}

.logo i {
  margin-left: 10px;
}

ul {
  list-style: none;
  display: flex;
}

ul li {
  margin-right: 20px;
}

ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

ul li a.active {
  background-color: #f8d617;
  color: #222;
  border-radius: 5px;
}

.register {
  display: flex;
  align-items: center;
}

.register input[type="submit"] {
  border: none;
  background-color: #f8d617;
  font-weight: bold;
  font-size: 25px;
  color: white;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 30px;
  transition: 0.4s;
}

.register input[type="submit"]:hover {
  background-color: goldenrod;
  transform: scale(1.1);
}

/* Header */
h1 {
  font-size: 2rem;
  color: white;
  text-align: center;
  margin-top: 2rem;
}

/* Main Content */
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
}

.content img {
  max-width: 100%;
  width: 500px;
  height: auto;
  margin-bottom: 20px;
  float: right;
}

.content h1 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.content h3 {
  color: white;
  font-size: 24px;
  margin-bottom: 30px;
}

.content a.btn {
  display: inline-block;
  background-color: gold;
  font-size: 32px;
  color: #fff;
  border: none;
  padding: 20px 20px;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  border-radius: 30px;
  transition: all 0.3s ease-in-out;
  transform: scale(1);
}

.content a.btn:hover {
  background-color: goldenrod;
  transform: scale(1.1);
}

/* Media Query */
@media only screen and (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  ul {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  ul li {
    margin: 0;
    margin-bottom: 10px;
  }

  .register {
    margin-top: 20px;
  }

  .register input[type="submit"] {
    font-size: 16px;
    padding: 10px 20px;
    }
    
    h1 {
    font-size: 24px;
    }
    
    .content {
    text-align: center;
    }
    
    .btn {
    font-size: 16px;
    padding: 10px 20px;
    }
    
    img {
    width: 100%;
    max-width: 400px;
    height: auto;
    }
    }



.About {
  background-color: rgb(41, 41, 101);
  padding: 50px;
}

.About .main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.About img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.About-text {
  text-align: center;
}

.About-text h2 {
  color: #fff;
  font-size: 4em;
  margin-bottom: 20px;
}

.About-text p {
  color: #fff;
  font-size: 1.8em;
  line-height: 1.5;
  margin-bottom: 20px;
}

.readmore input[type="submit"] {
  background-color:gold;
  color: white;
  font-size: 1.8em;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.readmore input[type="submit"]:hover {
  background-color:goldenrod;
}

.Services{
  background-color: rgb(18, 18, 71);
  backdrop-filter: blur(18px);
  width: 100%;
  padding: 100px 0px;
}

.title h3{
  color: white;
  font-size: 55px;
  width: 100%;
  max-width: 1130px;
  margin: 0px auto 30px;
  text-align: center;
}

.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0px -15px;
}

.card{
  height: auto;
  width: 100%;
  max-width: 535px;
  padding: 35px;
  background: #191919;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
  text-align: center;
}

.card i{
  font-size: 60px;
  margin: 25px 0px;
  color: gold;
}

h5{
  color: white;
  font-size: 33px;
  margin-bottom: 25px;
}

.pra p{
  color: #fcfcfc;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.card .button{
  display: inline-block;
  border: none;
  background-color: gold;
  padding: 20px 32px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  transition: .4s;
  cursor: pointer;
}

.card .button:hover{
  background-color: transparent;
  border: 2px solid gold;
  color: gold;
}


