<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event Calendar</title>
    <link rel="stylesheet" href="/static/css/calender.css" />
  </head>
  <body bgcolor=" #27276b">
    

      <div class="event-container">
        <h3 class="year">2023</h3>
  
        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">8</div>
              <div class="month">Mar</div>
                
            </div>
          </div>
          
          <div class="event-right">
            <h3 class="event-title">Availability of MHT CET 2023 Application Form</h3>
            
            <div class="event-description">
              Commencement of online registration and confirmation of online application submission 
            </div>
            
            <div class="event-timing">
              <img src="images/time.png" alt="" /> 12:00 am
            </div>
          </div>
        </div>
        
        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">7</div>
              <div class="month">Apr</div>
            </div>
          </div>
          
          <div class="event-right">
            <h3 class="event-title">Last date of MHT CET registration 2023 Without Late fee</h3>
            
            <div class="event-description">
               
              
            </div>
            
            <div class="event-timing">
              <img src="images/time.png" alt="" /> 10:45 am
            </div>
          </div>
        </div>
        
        
        
        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">8</div>
              <div class="month">Apr</div>
            </div>
          </div>
          
          <div class="event-right">
            <h3 class="event-title">MHT CET 2023 application form date with late fee</h3>
            
            <div class="event-description">
              
            </div>
            
            <div class="event-timing">
              <img src="images/time.png" alt="" /> 10:00 am
            </div>
          </div>
        </div>
        
        <div class="event">
          <div class="event-left">
            <div class="event-date">
              <div class="date">TBD</div>
              <div class="month"></div>
            </div>
          </div>
          
          <div class="event-right">
            <h3 class="event-title">MHT CET 2023 application form correction dates</h3>
            
            <div class="event-description">
              
          </div>
          
          <div class="event-timing">
            <img src="images/time.png" alt="" /> TBD
          </div>
        </div>
      </div>
      
      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date">TBD</div>
            <div class="month"></div>
          </div>
        </div>
        
        <div class="event-right">
          <h3 class="event-title">MHT CET 2023 exam date</h3>
          
          <div class="event-description">
            
          </div>
          
          <div class="event-timing">
            <img src="images/time.png" alt="" /> TBD
          </div>
        </div>
      </div>
      
      
        </div>
      </div>
    </div>
  </body>
</html>
