<!DOCTYPE html>
<html>
  <title>ChatBot</title>
  <head>
    <link rel="stylesheet" href="/static/css/chatbot.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="navbar">
      <h1>EduGuide</h1>
    </div>
    <div class="box"></div>
    <div class="boxed">
      <div>
        <div id="chatbox">
          <p class="botText">
            <span>Hi! I'm ChatBot <br>Go ahead and write the number of any query. 😃✨ <br> 1.list of important documents you will be needing to complete your admission process.</br>2.Frequently asked questions regarding admission </br>3.Scholarship related info</br>4.Top Colleges</br>,</span>
          </p>
        </div>
        <div id="userInput">
          <input id="textInput" type="text" name="msg" placeholder="Enter message here..." />
          <button id="sendButton">Send</button>
        </div>
      </div>
      <script>
        const chatbox = document.getElementById('chatbox');
  
        function scrollToBottom() {
          chatbox.scrollTop = chatbox.scrollHeight;
        }
  
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + "</span></p>";
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          scrollToBottom();
          document
            .getElementById("userInput")
            .scrollIntoView({ block: "start", behavior: "smooth" });
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<p class="botText"><span>' + data + "</span></p>";
            $("#chatbox").append(botHtml);
            scrollToBottom();
            document
              .getElementById("userInput")
              .scrollIntoView({ block: "start", behavior: "smooth" });
          });
        }
  
        $("#textInput").keypress(function(e) {
          if (e.which == 13) {
            getBotResponse();
          }
        });
  
        $("#sendButton").click(function() {
          getBotResponse();
        });
      </script>
    </div>
  </body>
</html>
